<h1>编辑员工 <%= @staff.name %></h1>

<%= render 'form', staff: @staff %>

<%= link_to raw(t'actions.view'), @staff, class: 'btn btn-primary' %>
<%= link_to raw(t'actions.back'), staffs_path, class: 'btn btn-secondary' %>
