<h1><%= title "编辑支行 #{@branch.name}" %></h1>

<%= render 'form', branch: @branch %>

<%= link_to raw(t'actions.view'), @branch, class: 'btn btn-primary' %>
<%= link_to raw(t'actions.back'), branches_path, class: 'btn btn-secondary' %>
