<h1><%= title "编辑客户 #{@client.name}" %></h1>

<%= render 'form', client: @client %>

<%= link_to raw(t'actions.view'), @client, class: 'btn btn-primary' %>
<%= link_to raw(t'actions.back'), clients_path, class: 'btn btn-secondary' %>
