<h1 class="text-center py-4 py-md-5 display-4 d-sm-flex justify-content-center">
  <span class="d-block d-sm-inline pb-4 pb-sm-0">
    <%= svg_tag file, class: 'svg-inline svg-xl zero-width' %>
  </span>
  <%= text %>
</h1>
