<p>Use WASD, HJKL or the arrow keys to find the exit (X) and collect gold (o).</p>

<div id="canvasContainer"></div>
<script src="https://cdn.jsdelivr.net/npm/rot-js@2.1.3/dist/rot.min.js" integrity="sha256-OJV9DWkIJbKdcV0ALNh5AFekJTCbzHtl2IREOcOM6Vk=" crossorigin="anonymous"></script>
<script src="<%= javascript_path 'rot' %>" async defer></script>
