<%= render partial: 'svg_header', locals: { file: 'piggy-bank.svg', text: '储蓄业务' } %>

<%= render partial: 'search_form', locals: { url: current_path } %>

<% if @action %>
  <div class="border rounded bg-white p-3">
  </div>
<% end %>
