<div class="card border-info">
  <div class="card-header shadow-sm bg-info text-white text-center">
    <%= yield :heading %>
  </div>

  <div class="card-body p-0">
    <%= yield :body %>
  </div>

  <div class="card-footer bg-info text-white text-center">
    <%= yield :footer %>
  </div>
</div>

<%= yield :after %>
