<h1>编辑账户 <%= "##{@account.id}"%></h1>

<%= render 'form', account: @account %>

<%= link_to raw(t'actions.view'), @account, class: 'btn btn-primary' %>
<%= link_to raw(t'actions.back'), accounts_path, class: 'btn btn-secondary' %>
